Options +FollowSymLinks
Options -Indexes
php_flag  log_errors on
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule rest/(.*)$ rest/index.php?request=$1 [QSA,NC,L]
</IfModule>
